/* 颜色变量 */
$color-m: #ffce00; //风格颜色

$color-mbg: #ffb123;
$color-mtop: #ffbf2d;

$color-qiandao: #ff971e; //签到

$color-star: #ffd732; //星

$color-otherbg: #3c8ceb;
$color-othertop: #489cf0;

/* 个人中心 */
$color-u-jl: #3c8ceb;
$color-u-jl1: #5ebbf8;
$color-u-star: #ffb123;
$color-u-star1: #ffdb41;
$color-u-cj: #80d043;
$color-u-cj1: #acea65;
$color-u-ph: #8861d9;
$color-u-ph1: #b78ef1;

$color-tabbar: #b69406;

/* 黑与灰 */
$color-36: #363636;
$color-00: #000000;
$color-ff: #ffffff;
$color-bb: #bbbbbb;
$color-a5: #a5a5a5;
$color-f7: #f7f7f7; //进度条背景

/* 背景颜色 */
$bg-color-mask: rgba(0, 0, 0, 0.4); //遮罩颜色

/* 边框颜色 */
$color-bor: #f4f4f4;

/* 文字尺寸 */
$fontsize-22: 22upx;
$fontsize-24: 24upx;
$fontsize-28: 28upx;
$fontsize-30: 30upx;
$fontsize-32: 32upx;
$fontsize-34: 34upx;
$fontsize-36: 36upx;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度

/* 布局排列 */

@mixin rowflex {
	display: flex;
	flex-direction: row;
	align-items: center;
}

@mixin colflex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* 宽度 */
@mixin warpwidth {
	width: 690upx;
}
@mixin borradius6{
	border-radius: 6upx;
}
@mixin borradius8{
	border-radius:8upx;
}
@mixin borradius10{
	border-radius: 10upx;
}
/* 内边距 */
@mixin warppadding {
	padding: 30upx;
}
/* 下底边 */
@mixin borderbottom {
	border-bottom: 10upx solid $color-bor;
}
/* 用户下底边 */
@mixin userbor {
	border-top: 6upx solid $color-m;
}

/* 用户中心其他页面导航 */
@mixin userguide {
	@include userbor;
	@include warpwidth;
	@include warppadding;
	font-size: $fontsize-32;
	@include rowflex;
	justify-content: flex-start;
}
/* 保存按钮 */
.saveBox {
	@include warpwidth;
	@include warppadding;
	@include rowflex;
	justify-content: center;
}
.saveBtn {
	width: 200upx;
	height: 80upx;
	line-height: 80upx;
	text-align: center;
	background: $color-m;
	color: #fff;
	border-radius: 8upx;
}

page {
	overflow-x: hidden;
}

.muststyle {
	color: #f00;
	font-size: $fontsize-28;
	padding: 5upx 20upx;
}
.nomuststyle {
	color: #666;
	font-size: $fontsize-28;
	padding: 5upx 20upx;
}
.tipbar {
	width: 710upx;
	height: 50upx;
	line-height: 50upx;
	padding: 20upx;
	background: #fff48a;
	color: #c46b1b;
	font-size: $fontsize-28;
	text {
		font-weight: bold;
	}
}

/* 遮罩层 */
.maskbg {
	background: rgba(0, 0, 0, 0.5);
	@include rowflex;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9;
}
.maskBox {
	position: relative;
	@include colflex;
	justify-content: center;
}
.maskCon {
	display: flex;
}
.maskClose {
	width: 80upx;
	height: 80upx;
	line-height: 80upx;
	text-align: center;
	border-radius: 50upx;
	border: 4upx solid #fff;
	margin-top: 20upx;
	font-size: 60upx;
	color: #fff;
}

.successLayer {
	width: 666upx;
	display: table;
	min-height: 230upx;
}
.slayImg {
	position: absolute;
	top: -100upx;
	left: 0;
	z-index: 9;
	width: 666upx;
	height: 209upx;
}
.gongxi{
	width:666upx;
	height: 209upx;
	line-height: 120upx;
	text-align: center;
	position: absolute;
	top: -100upx;
	left: 0;
	z-index: 10;
	font-size: 64upx;
	color: #ffce00;
}

.slayCon {
	width: 566upx;
	min-height: 230upx;
	position: absolute;
	background-color: #fff;
	z-index: 8;
	top: 0;
	left: 50upx;
	padding:50upx 0 40upx;
	// padding-top: 50upx;
	border-radius: 10upx;
	@include colflex;
	justify-content: center;
	.title {
		color: #939637;
		font-size: 60upx;
		margin-bottom: 30upx;
	}
	.con {
		@include colflex;
		justify-content: center;
		color: #939637;
		font-size: 32upx;
		.item {
			@include rowflex;
			padding-top:20upx;
			justify-content: flex-start;
			image {
				width: 40upx;
				height: 40upx;
			}
			.honor{
				background: #363636;
				color:#ffce00;
				border-radius: 10upx;
				padding:5upx 12upx;
			}
			.cjlist{
				display: flex;
				flex-wrap: wrap;
				.cjitem{
					@include colflex;
					justify-content: center;
					align-items: center;
					margin:20upx 10upx 10upx;
					.icon{
						width: 80upx;
						height: 80upx;
						line-height: 80upx;
						border-radius: 20upx;
						border: 8upx solid #c09d29;
						text-align: center;
						background-image: linear-gradient(#f9ee84,#eed138,#f9ee84);
						font-size: 50upx;
						color: #8c6d01;
						font-weight: bold;
						box-shadow: 0 0 20upx #fff;
					}
					.title{
						width:150upx;
						height:68upx;
						line-height: 68upx;
						text-align: center;
						font-size: 28upx;
						margin:0;
					}
				}
			}
		}
	}
}
.lvBg{
	width:212upx;
	height:212upx;
	background: url("/static/levelBg.jpg") no-repeat;
	background-size: 212upx 212upx;
	@include colflex;
	justify-content: center;
}
.eventBtn {
	width: 300upx;
	height: 80upx;
	line-height: 80upx;
	text-align: center;
	background: $color-m;
	color: $color-36;
	font-size: $fontsize-32;
	@include borradius6;
}

.arrow{
	width: 0;
	height: 0;
	border-left: 10upx solid transparent;
	border-right: 10upx solid transparent;
	border-top:13upx solid #848484;
}

.menuguide{
	@include userguide;
	justify-content: space-between;
	border-bottom:2upx solid #dedede;
	.left{
		padding-left: 20upx;
		border-left:10upx solid #ffce00
		// border-left:6upx solid #3c8ceb;
	}
	.right{
		height:58upx;
		line-height: 58upx;
		padding:1upx 20upx;
		border-radius: 10upx;
		background-image: linear-gradient(#736427, #221e0c);
		color: $color-m;
		font-size: $fontsize-30;
	}
}
@mixin honstyle{
	color: #fff;
	font-size: 24upx;
	margin-left:30upx;
	padding:1upx 8upx;
	height:32upx;
	line-height: 32upx;
	border-radius: 5upx;
}
.qingtong1{
	background: #81a80a;
	@include honstyle
}
.baiyin2{
	background: #8da1ba;
	@include honstyle
}
.huangjin3{
	background: #ff8a00;
	@include honstyle
}
.bojin4{
	background: #6396d7;
	@include honstyle
}
.zuanshi5{
	background: #1e81f9;
	@include honstyle
}
.xueshen6{
	background: #921fec;
	@include honstyle
}